# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://jindu9876_db_user:<db_password>@jineee.cf8x3nc.mongodb.net/?appName=jineee&compressors=zlib
DATABASE_NAME=jineee

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Server Configuration
PORT=8000
HOST=0.0.0.0
CORS_ORIGINS=*

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=NB BEADS STUDIO_ecommerce
